/* container */
.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-top: 138.4px;
}
/* header */
header {
  background-color: #372d23;
  padding: 32px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: inherit;
  width: inherit;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;

}
.header_ul {
  display: flex;
  column-gap: 48px;
}
.header_li a {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #b89278;
}
.header_li.active a {
  color: #ed6c30;
}
/* section1 */
.section1 {
  height: 640px;
  position: relative;
}
.section1_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section_1container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.section1_h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  text-shadow: 0px 6px 4px #372d23;
}
.section1_button {
  width: 224px;
  height: 52px;
  border: 3px solid #fcc21b;
  box-shadow: 0px 4px 4px 0px #372d23;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-top: 32px;
  background-color: transparent;
}
